.myNameApp {
  font-family: "Pacifico", cursive;
  text-align: center;
  color: #ff6600;
}

.subtitle {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: royalblue;
}
